<!DOCTYPE-=html>
<html lang="en">
<head>
	<meta http-equiv= "Content-type" content="text/html; charset-utf-8">
	<title>Double</title>
	<style type="text/css" media ="screen">
	.wrap {
		margin: 0 auto;
		width: 900px;
	}
	section {
		width:580px;
		margin-right: 25px;
		float: left;
	}
	.side {
		width: 300px;
		float: left;
	}
	footer{
		clear: both;
		border-top: 1px solid #e3e3e3;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante. Cras bibendum bibendum ante. Pellentesque vestibulum dapibus nunc at ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ipsum eget odio auctor dignissim. Sed aliquam ligula in purus venenatis, sit amet hendrerit lorem rutrum. Praesent feugiat quis odio sit amet fermentum. Nam enim sapien, condimentum sit amet ultrices quis, rutrum et mi.</p>

			<p>Nulla pellentesque orci in elementum interdum. Suspendisse ultricies tempor justo id posuere. Mauris adipiscing ornare tortor. Quisque eleifend facilisis metus id commodo. Proin vitae lectus at diam dapibus bibendum sed et risus. Pellentesque sit amet magna dui. Aenean dapibus hendrerit aliquet. Integer dignissim mi non justo ultricies, vel eleifend sapien aliquet.</p>
		</section>
		<side>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante. </p>
			<p>Nulla pellentesque orci in elementum interdum. Suspendisse ultricies tempor justo id posuere. Mauris adipiscing ornare tortor. Quisque eleifend facilisis metus id commodo. Proin vitae lectus at diam dapibus bibendum sed et risus. Pellentesque sit amet magna dui. Aenean dapibus hendrerit aliquet. Integer dignissim mi non justo ultricies, vel eleifend sapien aliquet.
			</p>
		</side>
		<footer>
			This is a footer
		</footer>
	</div>
</body>
</html>