<!DOCTYPE-=html>
<html lang="en">
<head>
	<meta http-equiv= "Content-type" content="text/html; charset-utf-8">
	<title>Gallery</title> 
	<style type="text/css" media ="screen">
	.wrap {
		margin: 0 3%;
	}
	article {
		width: 250px;
		padding: 10px;
		margin: 10px;
		display: inline-block;
		background: #f3f3f3;
	}
	footer {
		clear: both;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			<article> 
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin arcu id tincidunt lobortis. Vestibulum mollis non sapien sed posuere. Phasellus nibh mauris, faucibus ut metus nec, euismod lobortis ante.
				</p>
			</article>
			
			
		</section>
		<footer>
			This is a footer
		</footer>
	</div>
</body>
</html>